[submodule "pack/my-plugins/start/vim-airline"]
	path = pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/my-plugins/start/vim-airline-themes"]
	path = pack/my-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/my-plugins/start/vim-colorschemes"]
	path = pack/my-plugins/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/my-plugins/start/vim-qkdb-syntax"]
	path = pack/my-plugins/start/vim-qkdb-syntax
	url = https://github.com/katusk/vim-qkdb-syntax.git
[submodule "pack/my-plugins/start/a.vim"]
	path = pack/my-plugins/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/my-plugins/start/nerdtree"]
	path = pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/my-plugins/start/tagbar"]
	path = pack/my-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/my-plugins/start/YouCompleteMe"]
	path = pack/my-plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/my-plugins/start/vim-rtags"]
	path = pack/my-plugins/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "pack/my-plugins/start/vim-fugitive"]
	path = pack/my-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/my-plugins/start/vim-unimpaired"]
	path = pack/my-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/my-plugins/start/ack.vim"]
	path = pack/my-plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
